[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django-model-utils = "*"
djangorestframework = "*"
dicttoxml = "*"
factory-boy = "*"
drf-spectacular = "*"
django-import-export = "*"
django-hosts = "*"
pygments = "*"
django-allauth = "*"
django-mailjet = "*"
django-anymail = "*"
boto3 = "*"
django-storages = "*"
zappa-django-utils = "*"
django = "~=2.2"
psycopg2-binary = "==2.8.6"
zappa = "==0.54.0"

[dev-packages]

[requires]
python_version = "3.7"
